.todolist {
    width: 350px;
    margin: 0 auto;
    padding: 10px 50px;
    border: 1px solid;
}

.todolist__tasks {
    padding: 0;
}

.todolist__tasks li {
    list-style: none;
}

.todolist__list {
    max-height: 260px;
    overflow-y: auto;
}